*{
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: rgb(192, 39, 39);
    
}


header{
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px;

}
section{
    padding: 20px;
    font-size: 20px;
    
    
}